body {
    margin: 0;
}

#container {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;
}

.stripe {
    position: relative;
    font-family: 'Lato', sans-serif;
    font-size: 3.5vw;
    color: #FFFFFF;
    width: 20%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stripe:nth-child(2n+1)::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.1;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: skew(30deg) scaleY(1) translate(0, 0);
    transform: skew(30deg) scaleY(1) translate(0, 0);
}

#block1 {
    background-color: #244F75;
}

#block2 {
    background-color: #60BFBF;
}

#block3 {
    background-color: #8C4B7E;
}

#block4 {
    background-color: #F8BB44;
}

#block5 {
    background-color: #F24B4B;
}